 body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eee;
    }

    .container {
        width: 780px;
        height: 700px;
        background: #111;
        position: relative;
        border-radius: 100%;
    }

    .orbit {
        position: absolute;
        border: 2px solid white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 8s linear infinite;
    }



    .orbit.small {
        width: 310px;
        height: 180px;
        animation-duration: 6s;
    }

    .orbit.medium {
        width: 450px;
        height: 370px;
        animation-duration: 8s;
    }

    .orbit.large {
        width: 650px;
        height: 550px;
        animation-duration: 10s;
    }

    .planet {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .blue { background: #4da6ff; }
    .pink { background: #ff6f91; }
    .green { background: #4cd137; }
    .yellow {
        background: #fbc531;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

       @keyframes rotate {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }